<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Welcome to Our Hospital, a leading healthcare
         provider offering comprehensive healthcare services including emergency care,
          pediatric care, cardiology, orthopedics, maternity care, neurology, oncology,
           and mental health services. Experience our state-of-the-art virtual doctor 
           service for online consultations. Our team of expert doctors and nurses are 
           dedicated to providing the highest quality of care. Book your appointment today 
           for top-notch medical services.">
        <title>Virtual Doctor | telemedicine | health | hospital</title>
        <link rel="icon" type="image/jpeg" href="{{url_for('static', filename='images/logo.jpeg')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5632460936680731"
     crossorigin="anonymous"></script>
     <style>
      .presc_cont ul{
        display: flex;
      }
      .presc_cont li{
        padding: 1rem;
        border: solid black;
        border-width: 1px;
      }
     </style>
    </head>
    <body>
<!-- Navigation Bar -->
<div class="phone">
  <a href="{{url_for('user.home')}}">
  <img src="{{url_for('static', filename='images/logo.jpeg')}}" alt="logo" id="phone_logo">
  </a>
  <p><i><strong>"Your health matters to us"</strong></i></p>
</div>
<!-- Navigation Bar -->
<div class="navbar">
    <a href="{{url_for('user.home')}}">Home</a>
    <a>
        <img src="{{url_for('static', filename='images/menu.jpeg')}}" alt="Menu tab" onclick="coll_cont(event)" id="menu_img">
    </a>
</div> 
<div class="cont">
  <br>
  <img src="{{url_for('static', filename='images/logo.jpeg')}}" alt="logo" id="phone_logo">
  <a href="{{url_for('user.home')}}">Home</a>
  <a href="{{url_for('user.booking')}}">Booking</a>
  <a href="{{url_for('user.pharm_search')}}">Pharmacy</a>
  <a href="{{url_for('user.logout')}}">Logout</a>
</div>
 <!--navbar for large devices-->
 <div class="large">
  <a href="{{url_for('user.home')}}">Home</a>
  <a href="{{url_for('user.booking')}}">Booking</a>
  <a href="{{url_for('user.pharm_search')}}">Pharmacy</a>
  <a href="{{url_for('user.logout')}}">Logout</a>
</div>

        <!--flash message-->
    <div class="container">
        <br>
      
        {% with flash_msg = get_flashed_messages() %}
           {% if flash_msg %}
                {% for message in flash_msg %}
                    <h4> {{ message }} </h4>
                {% endfor %}
            {% endif %}
        {% endwith %}
       
    </div>
    
     <!-- intro -->
     <div class="container_info">
        <section>
        {% with name = name %}
            {% if name %}
                <h3> Hello {{ name }}, Welcome to your client portal.</h3>
            {% endif %}
        {% endwith %}
        </section>
    </div>
    <!--button to acceess meetings immediately after booking-->
    <a href="{{url}}">
      <button>Access meetings here</button>
    </a>
    <br>
    <!--get recenty issued prescription-->
    {% if get_presc %}
    <a href="{{url_for('user.presc')}}">
      <button>Get prescription and medical report</button>
    </a>
    {% endif %}

    {% if presc %}
    <div class="presc_cont">
      <h2>Report</h2>
      <p>{{ presc['report'] }}</p>
      <!--get the prscription-->
      <h2>Prescription</h2>
      <ul>
        <li>medicine</li>
        <li>dosage</li>
        <li>instructions</li>
      </ul>
      {% for med_entry in presc['prescriptions'] %}
        <ul>
          <li>{{med_entry['med_name']}}</li>
          <li>{{med_entry['dosage']}}</li>
          <li>{{med_entry['inst']}}</li>
        </ul>
      {% endfor %}
        <!--Submit the presc uuid-->
      <form action="{{url_for('user.pharm_search')}}" method="post">
        <input type="hidden" name="presc_uuid" value="presc_uuid">
        <input type="submit" value="Purchase from pharmacy">
      </form>
    </div>
    {% endif %}

    {% extends "/public/base.html" %}