/*data div*/
.data_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 70vw;
    border-width: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
    padding: 2rem;
}
.data_section button{
    font-size: 1rem;
    width: 8rem;
    height: 2rem;
    background-color: #38a3e0;
    border-radius: 0.5rem;
    cursor: pointer;
}
/*radio buttons*/
.form-group input[type='radio']{
    width: 2rem;
}
/*icons on forms*/
#icon{
    width: 5rem;
    height: 5rem;
    margin-top: 1rem;
}
/*arrows outside containers*/
section .button a img{
    height: 2rem;
    width: 5rem;
}
/*buttons outside containers*/
.button{
    display: block;
    width: 60vw;
    background-color: #d5eef1;
    border-radius: 0.5rem;
}
.button p{
    font-size: 1rem;
    font-weight: bold;
    font-family: sans-serif;
    margin-right: 1rem;
    color: blue;
}
/*button links*/
.button a{
    text-decoration: none;
}
/*navbar for large devices*/
.large{
    display: none;
}
/*phone div*/
.phone{
    padding-bottom: 0.5rem;
    width: 100vw;
    height: 4rem;
    display: flex;
    background-color: #d5eef1;
    justify-content: left;
    margin-left: auto;
    position: sticky;
    z-index: 3;
    top: 0%;
}
/*logo shown on top of page*/
#phone_logo {
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
    z-index: 3;
    padding-left: 0.2rem;
}
/*div above the navigation bar*/
.phone p{
    padding-top: 1rem;
    font-size: 1rem;
    font-family: sans-serif;
    margin-left: 0.3rem;
}
/*sign up link*/
.phone a{
    padding-top: 0.5rem;
    padding-left: 0.1rem;
    font-size: 1rem;
    font-family: sans-serif;
}
/* Navigation Bar Styles */
.navbar {
    display: flex;
    justify-content: right;
    background-color: #d5eef1;
    height: 4rem;
    margin-left: auto;
}
.navbar a button{
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    width: 4rem;
    background-color: rgb(178, 217, 245);
    border-radius: 0.4rem;
    border-width: 0.1rem;
    font-size: 0.9rem;
    margin-left: auto;
    cursor: pointer;
}
.navbar a button:hover{
    background-color: #38a3e0;
}
/*side menu*/
 .cont{
    display: none;
    top: 0;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    justify-content: flex-end;
    border: solid #bdbbbb;
    border-width: 1px;
    border-radius: 0.75rem;
    width: 50vw;
    margin-left: 70vw;
    background-color: #d5eef1;
}
/*side menu links*/
 .cont a{
    font-size: 1rem;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(15, 15, 15);
    padding: 0.75rem;
}
/*side menu links hovering*/
.cont a:hover {
    background-color:;
    color: black;
}
/*side menu image*/
#menu_img{
    width: 3.2rem;
    height: 3.2rem;
    margin-top: 0.5rem;
    cursor: pointer;
    margin-bottom: 0.2rem;
}
/*navbar links*/
.navbar a {
    display: flex;
    flex-grow: 0.1;
    justify-content: center;
    align-items: center;
    color: rgb(15, 15, 15);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 0%;
}
/*navbar links hovering*/

/* elements over the slideshow */
.text {
    font-size: 15px;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
}
/*search bar*/
.text .search{
    bottom: 1.1rem;
    display: flex;
    justify-content: center;
    height: 2.5rem;
    position: relative;
    z-index: 2;
}
/* search bar input*/
.text .search input[type="search"] {
    width: 14rem; 
    border: solid rgb(107, 105, 105);
    border-width: 1px;
    margin-right: 0.2rem;
    border-radius: 0.75rem;
    background-color: #edf7f8;
    color: #070707; 
    font-family: sans-serif;
    font-size: 1rem;
}
/*search bar submit button*/
.text .search input[type="submit"] {
    width: 4rem; 
    border: solid #d5eef1;
    border-width: 1px;
    border-radius: 0.75rem;
    background-color: #d5eef1; 
    color: #070707; 
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
}
/*search bar submit button hovering*/
.text .search input[type="submit"]:hover{
    background-color: #38a3e0;
}
/*intro message on the landing page*/
.text h1{
    margin-bottom: 15vh;
    font-size: 2.5rem;
    color: #141936;
}
/*landing page booking button*/
.text a button{
    font-size: 1.4rem;
    text-decoration: none;
    border-radius: 0.75rem;
    font-family: sans-serif;
    height: 2.5rem;
    width: 16rem;
    background-color: #d5eef1;
    cursor: pointer;
    border-color: #d5eef1;
}
/*button hovering*/
.text a button:hover{
    background-color: #38a3e0;
}
/*appointment div in services page*/
.appointment{
    display: flex;
    position: fixed;
    z-index: 3;
    bottom: 3rem;
    right: 0%;
}
/*appointment button in services page*/
.appointment a button{
    font-size: 1.4rem;
    text-decoration: none;
    border-radius: 0.75rem;
    font-family: sans-serif;
    height: 3rem;
    width: 18rem;
    background-color: #bfe5e9;
    cursor: pointer;
    align-self: flex-end;
}
/*button hovering*/
.appointment a button:hover{
    background-color: #38a3e0;
}
/*body*/
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: #f0ffef;
    overflow-x: hidden;
}
/*information containers on about, help, etc pages*/
.container_info {
    display: block;
    margin-top: 0.1rem;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}
.container_info section {
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
    background-color: #ffffff;
}
/*iframe holding map*/
.container_info section iframe{
    width: 70vw;
    height: 90vh;
}
/*landing page intro container*/
.container_intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0.2rem;
}
.container_intro section {
    flex-basis: 40vw;
    border-radius: 0.5rem;
    margin: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.75rem;
    text-align: center;
    background-color: #ffffff;

}
/*h3*/
h3{
    text-align: center;
}
/* content container*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*container section*/
.container section {
    flex-basis: 30vw;
    border-radius: 0.5rem;
    margin: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #ffffff;
}
p {
    margin-left: 1rem;
    color: #080808;
    text-align: left;
    font-size: 1rem;
    font-family: sans-serif;
}
.container section p button{
    background-color: #d5eef1;
    font-size: 0.7rem;
    border: solid #d5eef1;
    border-radius: 0.3rem;
    border-width: 1.5px;
    cursor: pointer;
    margin-top: 0.5rem;
    height: 1.1rem;
}
.container section p button:hover{
    background-color: #38a3e0;
}
.container section img {
    height: 28vw;
    width: 28vw;
    text-align: center;
}
/*container sections*/
.section
{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
/*forms*/
section form{
    display: block;
    border-radius: 1rem;
    width: 60vw;
    background-color: #ffffff;
}
/* Style each form group (label and input) */
form .form-group {
    display: block;
    align-items: centre;
    margin-left: 6vw;
}
/*form labels*/
form .form-group label{
    margin: 0.3rem;
    width: 20vw;
    font-size: 1rem;
}
/*form input fields*/
form .form-group input{
    margin: 0.3rem;
    width: 45vw;
    height: 1.8rem;
    border-radius: 0.3rem;
    border-width: 0.1rem;
    font-size: 0.9rem;
}

form .form-group select{
    width: 45vw;
    height: 2rem;
    border-radius: 0.3rem;
    font-size: 1rem;
}
form .submit{
    text-align: center;
    margin-bottom: 2vh;
}
form .submit input[type="submit"]{
    font-size: 1.1rem;
    margin: 1rem;
    height: 2rem;
    width: 7rem;
    border-radius: 0.5rem;
    background-color: #d5eef1;
    border-width: 0.1rem;
}
/*text area field in feedback form*/
form .form-group textarea{
    margin: 0.3rem;
    width: 45vw;
    border-radius: 0.5rem;
    border-width: 0.1rem;
    font-size: 0.9rem;
}
/*links in the forms*/
.form_link a{
    text-decoration: none;
    margin: 7vw;
}
/* Change the background color of the submit button when hovered over */
input[type="submit"]:hover {
    background-color:  #38a3e0;
    cursor: pointer;
}
/*records table*/
.table {
    margin-top: 1rem;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
}
/*table heading*/
.table h3{
    text-align: center;
    padding-top: 1rem;
}
table{
    width: 75vw;
    border-collapse: collapse;
}
/*table header*/
th {
    border: 1px solid black;
    padding: 2px;
}
/*table data*/
td {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    font-size: 1rem;
}
/*list*/
.container ul{
    width: 75vw;
}
li{
    text-align: left;
    font-size: 1rem;
    font-family: sans-serif;
}
/*header style*/
h1 {
    font-family: sans-serif; /* Replace with your preferred font */
    font-size: 5vw;
}
/*footer*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 4;
    background-color: #b4b2b2;
    margin-top: auto;
    font-size: 1rem;
}
/*footer section*/
footer section {
    flex-basis: 45%;
    margin-top: 3vh;
    margin-bottom: 2vh;
}
/*foter links*/
footer section a{
    text-decoration-line: none;
    color: purple;
    cursor: pointer;
}
/*footer class in footer*/
.footer_sect{
    display: flex;
}
#credits{
    flex-basis: 90%;
}
/*footer images*/
.footer_sect img{
    height: 2rem;
    width: 2rem;
    margin-bottom: 0.2rem;
}
/*footer class links*/
.footer_sect a{
    margin-top: 0.3rem;
    margin-left: 0.2rem;
}
/*container of the slideshow images on home page*/
.slideshow-container {
    width: 100vw;
    position: relative;
    margin: 0%;
  }
  
/* Hide the images by default */
.myslides{
    display: none;
  }

.myslides img{
    object-fit: cover;
    height: 65vh;
    width: 100%;
    opacity: 0.7;
  }
/*FAQs list*/
.container section ul{
    width: auto;
}


/*view more buttons*/
.container_intro section p button{
    font-size: 0.8rem;
    border: solid #bbb9b9;
    border-radius: 0.5rem;
    border-width: 1.5px;
    cursor: pointer;
}
/* CSS for small devices like portrait phones, less than 768px */
@media only screen and (max-width: 450px) {
/*information containers on about, help, etc pages*/
.container_info {
    width: 90vw;
}
th{
    font-size: 0.9rem;
}
/*table*/
.table{
    width: 90vw;
}
table{
    width: 90vw;
}
/*table data*/
td {
    font-size: 0.9rem;
}
/*list*/
li{
    font-size: 0.9rem;
}
/*iframe holding map*/
.container_info section iframe{
    width: 80vw;
    height: 70vh;
}
/*icons on forms*/
#icon{
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
}
/*header in the containers*/
.container h4{
    margin-bottom: 1rem;
    margin-top: 0%;
    font-size: 0.9rem;
    text-align: center;
}
/*forms*/
section form{
    border-radius: 0.75rem;
    width: 15rem;
    font-size: 0.9rem;
}
/* Style each form group (label and input) */
form .form-group {
    justify-content: centre;
    margin-left: 1rem;
}
/*form labels*/
form .form-group label{
    font-size: 0.9rem;
}
/*form input fields*/
form .form-group input{
    width: 12rem;
    height: 1.6rem;
    border-radius: 0.4rem;
    border-width: 0.1rem;
    font-size: 0.8rem;
}
/*dropdown menu in booking form*/
form .form-group select{
    width: 12rem;
    height: 1.6rem;
    border-radius: 0.4rem;
    font-size: 0.9rem;
}
/*feedback text area*/
form .form-group textarea{
    width: 13rem;
    font-size: 0.8rem;
}
/*form submit button*/
form .submit input[type="submit"]{
    font-size: 1rem;
    height: 1.7rem;
    width: 6rem;
    border-radius: 0.5rem;
    border-width: 0.1rem;
}
/*links in the forms*/
.form_link a{
    text-decoration: none;
    font-size: 0.9rem;    
}
/*appointment button in services page*/
.appointment{
    bottom: 3rem;
}

.appointment a button{
    font-size: 1.1rem;
    border-radius: 0.5rem;
    height: 2.5rem;
    width: 12rem;
}
/*footer section containing icons*/
.footer_sect img{
    height: 1.5rem;
    width: 1.5rem;
}
/*footer*/
footer {
    font-size: 0.9rem;
}
/*view more buttons*/
.container section p button{
    font-size: 0.6rem;
    border: solid #bbb9b9;
    border-radius: 0.4rem;
    border-width: 1.5px;
    cursor: pointer;
    height: 1rem;
}
/*paragraph fontsize*/
p{
    font-size: 0.85rem;
}
.container section img{
    width: 40vw;
    height: 40vw;
}
/*container holding most of the content on the page*/
.container section {
    flex-basis: 38vw;
    border-radius: 0.4rem;
    margin: 0.4rem;
}
/*intro container in home page*/
.container_intro section {
    flex-basis: 80vw;
}
/*buttons*/
.container_intro section p button{
    font-size: 0.8rem;
    border-radius: 0.5rem;
    border-width: 1.5px;
    cursor: pointer;
    height: 1.5rem;
}
/*header welcome message*/
.text h1{
    bottom: 15vh;
    font-size: 1.5rem;
}
/*search bar*/
.text .search{
    bottom: 0.5vh;
}
/*search bar input */
.text .search input[type="search"] {
    width: 10rem;
    height: 1.75rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
}
/*search button*/
.text .search input[type="submit"] {
    width: 4rem;
    height: 1.75rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}
/*appointment booking button*/
.text a button{
    font-size: 1.2rem;
    border-radius: 0.5rem;
    height: 2rem;
    width: 13rem;
  }
/*slideshow images*/
.myslides img{
    height: 60vh;
  }
/*side menu*/
.cont{
    border-radius: 0.6rem;
    width: 50vw;
    margin-left: 50vw;
    }
.cont a{
    font-size: 1rem;
    padding: 0.5rem;
    }
/*set the logo image image to none*/
#logo{
    width: 2.5rem;
    height: 2.5rem;
    display: none;
}
/*phone div*/
.phone{
    padding-top: 0.5rem;
    width: 100vw;
    display: flex;
}
/*logo shown on small devices*/
#phone_logo {
    width: 3rem;
    height: 3rem;
    position: relative;
    z-index: 3;
}
/*div above the navigation bar*/
.phone p{
    padding-top: 1rem;
    font-size: 0.8rem;
}
/*menu tab*/
#menu_img{
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0rem;
}
/* Navigation Bar Styles */
.navbar {
    height: 4rem;
    top: 0rem;
}
/*navigation bar links*/
.navbar a {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    color: rgb(15, 15, 15);
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    text-decoration: none;
    font-size: 1rem;
    font-family: sans-serif;
}
/*buttons outside containers*/
.button{
    width: 70vw;
}
}
/*css for large devices like laptops and desktops*/
@media only screen and (min-width: 750px){
/*adjust the margin for slideshow container*/
.slideshow-container{
    margin-top: auto;
}
/*hide phone class shown on small devices*/
.phone{
    display: none;
}
/*hide phone class shown on small devices*/
.navbar{
    display: none;
}
/*class containing the logo*/
.logo{
    display: flex;
    margin-right: auto;
}
.logo p{
    margin-top: 2.5rem;
    margin-left: auto;
    font-size: 1rem;
}
/*large screen navbar*/
.large {
    display: flex;
    background-color: #d5eef1;
    height: 5rem;
    position: sticky;
    top: 0;
    z-index: 3;
}
/*large navbar links*/
.large a {
    display: flex;
    align-items: center;
    color: rgb(15, 15, 15);
    text-decoration: none;
    font-size: 1.1rem;
    font-family: sans-serif;
    padding: 0.5rem;
    width: 4rem;
}
/*stop changing colour when hovering over the logo*/
.large .logo a:hover{
    background-color: #d5eef1;
}
/*links hovering*/
.large a:hover{
    background-color: #38a3e0;
}
/*remove hover propert on sign in link*/
#login{
    background-color: #d5eef1;
    width: 6rem;
}
.large a button:hover{
    background-color: #38a3e0;
}
.large a button{
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    width: 8rem;
    background-color: rgb(178, 217, 245);
    border-radius: 0.4rem;
    border-width: 0.1rem;
    font-size: 1rem;
    margin-left: auto;
    margin-right: 1rem;
    cursor: pointer;
}
/*hide dropdown menu*/
.drop_down ul{
    display: none;
    background-color: #d5eef1;
    margin-right: auto;
    list-style-type: none;
    width: 8rem;
    border-radius: 0.5rem;
    padding: 0%;
    margin: 0%;
}
.drop_down ul a{
    width: 7rem;
}
/*show drop_down menu on hover*/
.large .drop_down:hover > ul{
    display: block;
}
/*hovering on the dropdown menu*/
.drop_down ul li a:hover{
    background-color: #38a3e0;
}
/*drop down link*/
.drop_down p{
    margin-top: 1.8rem;
    margin-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.1rem;
}
/*dropdown links*/
.drop_down a{
    padding: 0.5rem;
}
/*drop down menu icon*/
#drop{
    width: 1rem;
    height: 1rem;
}
/*adjust form width*/
.section form{
    width: 24rem;
}
/* Style each form group (label and input) */
form .form-group {
    margin-left: 2rem;
}
/*form labels*/
form .form-group label{
    font-size: 1.1rem;
}
/*form input fields*/
form .form-group input{
    width: 20rem;
    height: 2rem;
    border-radius: 0.4rem;
    border-width: 0.1rem;
    font-size: 0.9rem;
}
/*dropdown menu in booking form*/
form .form-group select{
    width: 20rem;
    height: 2rem;
    border-radius: 0.4rem;
    font-size: 1rem;
}
/*form submit button*/
form .submit input[type="submit"]{
    font-size: 1.2rem;
    height: 2rem;
    width: 8rem;
    border-radius: 0.5rem;
    border-width: 0.1rem;
}
/*feedback text area*/
form .form-group textarea{
    width: 21rem;
}
/*links in the forms*/
.form_link a{
    margin-left: 2rem;
    font-size: 1rem;    
}
/*appointment button in services page*/
.appointment a button{
    font-size: 1.4rem;
    border-radius: 0.5rem;
    height: 3rem;
    width: 30vw;
}
/*footer section containing icons*/
.footer_sect img{
    height: 1.8rem;
    width: 1.8rem;
}
/*footer*/
footer {
    font-size: 1rem;
}
/*header in the containers*/
.container h4{
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
}
/*view more buttons*/
.container section p button{
    font-size: 0.8rem;
    border: solid #d5eef1;
    border-radius: 0.4rem;
    border-width: 1px;
    height: 1.2rem;
}
.container section img{
    width: 20vw;
    height: 20vw;
}
/*container holding most of the content on the page*/
.container section {
    flex-basis: 23vw;
    border-radius: 0.5rem;
    margin: 0.4rem;
}
/*intro container in home page*/
.container_intro section {
    flex-basis: 40vw;
}
/*p styles*/
p{
    font-size: 1rem;
}
/*header welcome message*/
.text h1{
    bottom: 15vh;
    font-size: 3rem;
}
/*search bar*/
.text .search{
    bottom: 3vh;
}
/*search bar input */
.text .search input[type="search"] {
    width: 15rem;
    height: 2.5rem;
    font-size: 1rem;
}
/*search button*/
.text .search input[type="submit"] {
    width: 5rem;
    height: 2.5rem;
    font-size: 1.2rem;
}
/*appointment booking button*/
.text a button{
    font-size: 1.5rem;
    height: 3rem;
    width: 18rem;
}
/*arrows outside containers*/
.button a img{
    height: 3.5rem;
    width: 8rem;
}
/*buttons outside containers*/
.button{
    width: 30vw;
}
.button p{
    font-size: 1.2rem;
    margin-top: 5rem;
}
}