
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Welcome to Our Hospital, a leading healthcare
         provider offering comprehensive healthcare services including emergency care,
          pediatric care, cardiology, orthopedics, maternity care, neurology, oncology,
           and mental health services. Experience our state-of-the-art virtual doctor 
           service for online consultations. Our team of expert doctors and nurses are 
           dedicated to providing the highest quality of care. Book your appointment today 
           for top-notch medical services.">
        <title>Virtual Doctor | telemedicine | health | hospital</title>
        <link rel="icon" type="image/jpeg" href="{{url_for('static', filename='images/logo.jpeg')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5632460936680731"
     crossorigin="anonymous"></script>
    </head>
        <!-- Navigation Bar -->
        <div class="phone">
          <a href="{{url_for('home')}}">
          <img src="{{url_for('static', filename='images/logo.jpeg')}}" alt="logo" id="phone_logo">
          </a>
          <p><i><strong>"Your health matters"</strong></i></p>
        
          <div class="navbar">
            <a href="{{url_for('sign_in')}}">
              <button>Sign in</button>
              </a>
              
            <a>
                <img src="{{url_for('static', filename='images/menu.jpeg')}}" alt="Menu tab" onclick="coll_cont(event)" id="menu_img">
            </a>
          </div>
        </div> 
        <!--side menu-->
        <div class="cont">
          <br>
            <img src="{{url_for('static', filename='images/logo.jpeg')}}" alt="logo" id="phone_logo">
            <a href="{{url_for('home')}}">Home</a>
            <a href="{{url_for('services')}}">Services</a>
            <a href="{{url_for('forums')}}">Forums</a>
            <a href="{{url_for('gallery')}}">Gallery</a>
            <a href="{{url_for('about')}}">About</a>
            <a href="{{url_for('contact')}}">Contact</a>
            <a href="{{url_for('help')}}">Help</a>
        </div>
        
            <!--navbar for large devices-->
            <div class="large">
              <div class="logo">
                <a href="{{url_for('home')}}" class="large_logo">
                <img src="{{url_for('static', filename='images/logo.jpeg')}}" alt="logo" id="phone_logo">
                </a>
                <p><i><strong>"Your health matters"</strong></i></p>
              </div>
              <a href="{{url_for('home')}}">Home</a>
              <a href="{{url_for('services')}}">Services</a>
              <a href="{{url_for('about')}}">About</a>
              <a href="{{url_for('contact')}}">Contact</a>
              <div class="drop_down">
                <p>
                  Community
                  <img src="{{url_for('static', filename='images/drop.jpeg')}}" alt="logo" id="drop">
                </p>
                
                <ul>
                  <li>
                    <a href="{{url_for('forums')}}">Forums</a>
                  </li>
                  <li>
                    <a href="{{url_for('gallery')}}">Gallery</a>
                  </li>
                </ul>
              </div>
              <a href="{{url_for('help')}}">Help</a>
              <a href="{{url_for('sign_in')}}" id="login">
                <button>Sign in</button>
              </a>
            </div>
<body>


  <!--password reset form-->
  <section class="section">

    <form action="/pwd_reset" method="post">

        <div class="container">
            <img src="{{url_for('static', filename='images/email1.jpeg')}}" alt="sign in" id="icon"> 
        </div>

        <div class="container">
            <h4 style="margin-bottom: 0.2rem;" > Enter your email to receive a code</h4>
        </div>
        <br>
      <div class="container">
            {% with flash_msg = get_flashed_messages() %}
                {% if flash_msg %}
                    {% for message in flash_msg %}
                        <h5> {{ message }} </h5>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <div class="form-group">
        <label for="email">Email:</label><br>
        <input class="email" type="email" id="email" name="email" placeholder="bethnkirote@gmail.com" required><br>
        </div>
       
    <div class="submit">
        <input type="submit" value="Get code">
    </div>
</form>
</section>

<footer>
    <section>
        <div>
            Need help?<br>
        </div>
        <!--<hr style="width: 40vw; margin-left: 2vw; margin-right: 3vw;">-->
      <div class="footer_sect">
        <img src="{{url_for('static', filename='images/call.jpeg')}}" alt="phone">
        <a href="tel:+2547123456"> Call us</a> <br>
      </div>

      <div class="footer_sect">
        <img src="{{url_for('static', filename='images/maps.jpeg')}}" alt="maps">
        <a href="https://www.google.com/maps/place/Kenyatta+International+Convention+Centre/@-1.288693,36.8143483,15z/data=!4m10!1m2!2m1!1skicc!3m6!1s0x182f11747e756f41:0x146973898c119b47!8m2!3d-1.288693!4d36.823103!15sCgRraWNjkgERY29udmVudGlvbl9jZW50ZXLgAQA!16zL20vMDQ2MHF4?entry=ttu"> Visit us today </a><br>
      </div>
      
      <div class="footer_sect">
        <img src="{{url_for('static', filename='images/email.jpeg')}}" alt="email">
        <a href="mailto:francischege602@gmail.com"> Email </a><br>
      </div>

      <div class="footer_sect">
        <img src="{{url_for('static', filename='images/whatsapp.jpeg')}}" alt="Whatsapp">
        <a href="https://wa.me/+254712750179"> Whatsapp </a> <br>
      </div>  
    </section>
      

    <section>
        <div>
            Social platforms<br>
       </div>
    
       <div class="footer_sect">
        <img src="{{url_for('static', filename='images/ig.jpeg')}}" alt="instagram">
        <a href="https://www.instagram.com/"> Instagram </a><br>
       </div>

       <div class="footer_sect">
        <img src="{{url_for('static', filename='images/fb.jpeg')}}" alt="facebook">
        <a href="https://web.facebook.com/login/?next=https%3A%2F%2Fweb.facebook.com%2F%3Fstype%3Dlo%26deoia%3D1%26jlou%3DAfc1FfFCL7-DZ3D52KF0sTKsDhci3BWrRGB89awfVVeyG-gfbCSsumw7vpkoTeghdPyDZhDCE6_lzRlOj7VGdGBnv0lCxWPbG-3sFHi2X82Gxg%26smuh%3D64923%26lh%3DAc-9OHUOjedmIfbf-Wo"> Facebook </a> <br>
       </div>
       
       <div class="footer_sect">
        <img src="{{url_for('static', filename='images/x.jpeg')}}" alt="twitter">
        <a href="https://twitter.com/home"> X </a> <br>
       </div>

       <div class="footer_sect">
        <img src="{{url_for('static', filename='images/in.jpeg')}}" alt="linkedin">
        <a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit"> Linked In </a><br>
       </div>  
    </section>
       

      <section id="credits">
        Made by Frank.
        <a href="mailto:francischege602@gmail.com">Contact developer</a>
      <br>
        &copy; 2024 Hospital X. All rights reserved.
      </section>
  </footer>
    <script src="{{url_for('static', filename='script.js')}}">
    </script>
</body>
</html>